extends ../bootstrap-layout

append scripts
    script(src="/javascripts/chat.js")

block body
    .container-fluid.fill
        .main_section.fill
                .chat_container.fill
                    .row
                        .col-sm-3.chat_sidebar
                            .row
                                .dropdown.all_conversation.col-sm-12
                                    button#dropdownMenu2.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                        i.fa.fa-weixin(aria-hidden='true')
                                        |  All Conversations
                                    ul.dropdown-menu(aria-labelledby='dropdownMenu2')
                                        li
                                            a(href='#') All Conversation
                                            ul.sub_menu_.list-unstyled
                                                li
                                                    a(href='#') All Conversation
                                                li
                                                    a(href='#') Another action
                                                li
                                                    a(href='#') Something else here
                                                li
                                                    a(href='#') Separated link
                                        li
                                            a(href='#') Another action
                                        li
                                            a(href='#') Something else here
                                        li
                                            a(href='#') Separated link
                            .row
                                .member_list.col-sm-12
                                    ul.list-unstyled.channels




                        .col-sm-9.message_section


        #channelHtml
            li.left.clearfix.channel
                span.chat-img.pull-left
                    img.img-circle(src='https://api.adorable.io/avatars/285/qwert@sf.png', alt='User Avatar')
                .chat-body.clearfix
                    .header_sec
                        a
                            i.fa.fa-chevron-right.channelId Jack Sparrow
                        |
                        //strong.pull-right 09:45AM
                    .contact_sec
                        //strong.primary-font (123) 123-456
                        |
                        span.badge.pull-right.unread-count 0

        #chatMessageHtml
            li.left.clearfix
                span.chat-img1.pull-left
                    img.img-circle(src='', alt='User Avatar')
                    |
                    strong.primary-font.userId.clearfix Jack Sparrow
                .chat-body1.clearfix
                    p.message-view
                    //p.chat_time.pull-right 09:40PM

        #chatAreaHtml
            .row.chat-area
                .new_message_head
                    .pull-left
                        button.title
                            i.fa.fa-plus-square-o(aria-hidden='true')
                            |  New Message
                    .pull-right
                        .dropdown
                            button#dropdownMenu1.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.fa.fa-cogs(aria-hidden='true')
                                |  Setting
                            ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenu1')
                                li
                                    a(href='#') Action
                                li
                                    a(href='#') Profile
                                li
                                    a(href='#') Logout
                .chat_area
                    ul.list-unstyled

                .message_write
                    textarea.form-control.message-text(placeholder='type a message')
                    .clearfix
                    .chat_bottom
                        a.pull-left.upload_btn(href='#')
                            i.fa.fa-cloud-upload(aria-hidden='true')
                            |  Add Files
                        |
                        a.pull-right.btn.btn-success.send-message(href='#') Send