extends ../node_modules/pug-bootstrap/_bootstrap
append styles
    // Custom styles for this template
    link(rel='stylesheet', href='/stylesheets/style.css')
append scripts
    script(src="/socket.io/socket.io.js")
    script(src="/bower_components/jquery.cookie/jquery.cookie.js")

